.catalogs__list {
  .clear-list;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.catalogs__item {
  position: relative;
  padding-bottom: 25px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: @grey-border;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media (min-width: @tablet-width) {
    background-color: @basic_grey;
    padding: 0;

    &::before,
    &::after {
      content: none;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @basic_grey;
    padding: 0;
  }
}

.catalogs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: @black-two;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 164px;
  }
}
