.catalogs__list {
  .clear-list;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.catalogs__item {
  border-bottom: 1px solid @grey-2;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.catalogs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: @black-two;
}
