.more__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @text-color;
  margin: 0;
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto;
    margin-top: 23px;
    width: 167px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black-one;
  margin: 0;
  margin-top: 23px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin: 0 auto;
    margin-top: 80px;
    width: 150px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    font-size: 20px;
    line-height: 22px;
  }
}

.more__all {
  display: block;
  width: 280px;
  color: @text-color;
  background-color: @basic_grey;
  padding: 7px 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    width: 250px;
    margin: 0 auto;
    margin-top: 87px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.more {
  padding-top: 25px;

  &::before {
    content: url("../img/plus.svg");
    position: relative;
    left: 124px;
  }

  @media (min-width: @tablet-width) {
    border: 1px solid;
    border-color: @basic_grey;
    padding: 0;

    &::before {
      content: url("../img/plus2.svg");
      position: relative;
      top: 52px;
      left: 130px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      content: url("../img/plus2.svg");
      position: relative;
      top: 51px;
      left: 92px;
    }
  }
}
