.works__item {
  height: 54px;
  width: 199px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @text-color;
  // padding-bottom: 20px;

  &::before  {
    content: "";
    position: absolute;
    background: @basic_green;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    }

  @media (min-width: @tablet-width) {
    outline: 3px solid rgba(255, 0, 0, 0.8);
    outline-offset: -3px;
    font-size: 16px;
    line-height: 24px;
    position: relative;

    &::before  {
      height: 80px;
      width: 80px;
    }
  }
}

.works__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: @black-two;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.works__list {
  .clear-list;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 28px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px;
    padding-top: 32px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 0;
  }
}

.works {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;
  margin: 0 auto;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
  }
}

.works__item--functional {
  &::before{
    content: "";
    background-image: url("../img/icon_leaf.svg");
    background-position: 17px 16px;
    background-repeat: no-repeat;
  }

  &::after {
    content: url("../img/1figure.svg");
  }

  @media (min-width: @desktop-width) {
    &::after {
      content: url("../img/1figure.svg");
      position: absolute;
      top: 0;
      left: 112px;
      z-index: -1;
    }
  }
}

.works__item--issued {
  &::before{
    content: "";
    background-image: url("../img/icon_tub.svg");
    background-position: 15px 13px;
    background-repeat: no-repeat;
  }

  &::after {
    content: url("../img/2figure.svg");
  }

  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {
    &::after {
      content: url("../img/2figure.svg");
      position: absolute;
      top: 0;
      left: 112px;
      z-index: -1;
    }
  }
}

.works__item--replaces {
  &::before{
    content: "";
    background-image: url("../img/icon_eat.svg");
    background-position: 17px 15px;
    background-repeat: no-repeat;
  }

  &::after {
    content: url("../img/3figure.svg");
  }

  @media (min-width: @desktop-width) {
    &::after {
      content: url("../img/3figure.svg");
      position: absolute;
      top: 0;
      left: 112px;
      z-index: -1;
    }
  }
}

.works__item--time {
  &::before{
    content: "";
    background-image: url("../img/icon_alarm.svg");
    background-position: 14px 13px;
    background-repeat: no-repeat;
  }

  &::after {
    content: url("../img/4figure.svg");
  }

  @media (min-width: @desktop-width) {
    &::after {
      content: url("../img/4figure.svg");
      position: absolute;
      top: 0;
      left: 112px;
      z-index: -1;
    }
  }
}
